<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Альбомы</title>
</head>

<body>
<div th:if="${band} != null">
    <h2 th:text="${band.bandName}">bandName</h2>
    <h3>Участники</h3>
    <table>
        <tr th:each="artist: ${band.artists}">
            <td th:text="${artist.artistName}">artistName</td>
            <td th:text="${artist.instrument}">instrument</td>
            <td>
                <img th:src="@{'/artist_photo?artist_id=' + ${{artist.id}}}" alt="photo" src="" height="100">
            </td>
        </tr>
    </table>
</div>
<a th:href="@{/addalbum}" class="btn">Добавить альбом</a>
<br>
<h3>Альбомы</h3>
<table>
    <tr>
        <th>ID</th>
        <th>Название</th>
        <th>Год</th>
        <th>Обложка</th>
        <th>Редактирование</th>
    </tr>
    <tr th:each="album: ${albums}">
        <td th:text="${album.id}"></td>
        <td><a th:text="${album.albumName}" th:href="@{'/tracks?album_id=' + ${album.id}}"></a></td>
        <td th:text="${album.year}"></td>
        <td>
            <img th:src="@{'/album_art/?album_id=' + ${album.id}}" height="50" alt="art" src=""/>
        </td>
        <td>
            <a th:href="@{'/editalbum?album_id=' + ${album.id}}" class="btn">Редактировать</a>
            <a th:href="@{'/deletealbum?album_id=' + ${album.id}}" class="btn">Удалить</a>
        </td>
    </tr>
</table>
</body>
</html>